@inject IPostService PostService
@inject IJSRuntime Js

<style>
    .pagination:hover #btnPage {
        cursor: pointer;
    }
</style>

<div class="latest-posts">
    <div class="container-fluid">
        <div class="blog-title-span">
            <span class="title">آخرین مطالب</span>
        </div>

        @if (ShowPostsViewModel.Posts == null)
        {
            <div>
                Loading...
            </div>
        }
        else
        {
            @foreach (var post in ShowPostsViewModel.Posts)
            {
                <Post PostId="@(post.PostId)" Title="@(post.Title)" ShortDescription="@(post.ShortDescription)" ImageUrl="@(post.ImageUrl)" Tags="@(post.Tags)" CreateDate="@(post.CreateDate)" />
            }

            @if (ShowPostsViewModel.PageCount > 1)
            {
                <div class="col-md-12 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @for (int i = 1; i <= ShowPostsViewModel.PageCount; i++)
                            {
                                var pageId = i;

                                <li class="page-item @((ShowPostsViewModel.CurrentPage==pageId)?"active":"")">
                                    <a id="btnPage" class="page-link" @onclick="()=>btnPage_Click(pageId)">@(i)</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        }
    </div>
</div>

@code {
    #region Variables

    public ShowPostsViewModel? ShowPostsViewModel { get; set; } = new();

    #endregion \Variables

    #region OnInitialized

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ShowPostsViewModel = await PostService.GetAllPostsAsync(1);
        }
        catch (Exception ex)
        {
            await Js.InvokeVoidAsync(JavaScriptMethods.ShowErrorMessage, ex.Message);
        }
    }

    #endregion \OnInitialized

    #region Events

    public async Task btnPage_Click(int pageId)
    {
        ShowPostsViewModel = await PostService.GetAllPostsAsync(pageId);
    }

    #endregion \Events
}

