@inject IPostService PostService

<div class="latest-posts">
    <div class="container-fluid">
        <div class="blog-title-span">
            <span class="title">آخرین مطالب</span>
        </div>

        @if (Posts == null)
        {
            <div>
                Loading...
            </div>
        }
        else
        {
            @foreach (var post in Posts)
            {
                <Post Title="@(post.Title)" ShortDescription="@(post.ShortDescription)" ImageUrl="@(post.ImageUrl)" Tags="@(post.Tags)" CreateDate="@(post.CreateDate)" />
            }
        }
    </div>
</div>

@code {

    #region Variables

    public List<Models.Post> Posts { get; set; }
    private int _index = 1;

    #endregion \Variables

    #region OnInitialized

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Posts = await PostService.GetAllPostsAsync();
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    #endregion \OnInitialized
}

