<div class="col-md-3">
    <div class="post-box">
        <a href="#">
            <figure>
                <img src="@(ImageUrl)" alt="">
                <figcaption class="meta-fig">
                    <span style="direction: rtl"><i class="fa fa-clock-o"></i>@(CreateDate.ToShamsi())</span>&nbsp;
                    <span><i class="fa fa-comment-o"></i> 12</span>
                </figcaption>
                <figcaption class="view">
                    @foreach (var tag in ListOfTags)
                    {
                        <span>@(tag)</span>
                    }
                </figcaption>
            </figure>
            <div class="text-p">
                <h5>@(Title)</h5>
                <p>
                    @(ShortDescription)
                </p>
                <div class="text-rigt">
                    <a href="#">ادامه ...</a>
                </div>
            </div>
        </a>
    </div>
</div>

@code {

    #region Parameters

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ShortDescription { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public string Tags { get; set; }
    [Parameter]
    public DateTime CreateDate { get; set; }

    #endregion \Parameters

    #region Variables

    public List<string> ListOfTags { get; set; }

    #endregion \Variables

    #region OnInitialized

    protected async override Task OnInitializedAsync()
    {
        ListOfTags = Tags.Split('-').ToList();
    }

    #endregion \OnInitialized
}
